@import '../node_modules/normalize.css/normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

body {
  font-family: 'Asul', sans-serif;
  font-size: 16px;
  line-height: 130%;
  background-color: #1b1b1b;
  color: #d3cbc0;
}

body.noscroll {
  overflow: hidden;
}

@media (hover: hover) {
  body.noscroll {
    padding-right: 15px;
  }
}

/* Customization nprogress */

#nprogress {
  position: relative;
  z-index: 1000;
}

#nprogress .bar {
  background: #d3cbc0;
}

#nprogress .peg {
  box-shadow: 0 0 10px #d3cbc0, 0 0 5px #d3cbc0;
}
